<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Zuma-Keuzes-Contrast2</string>
	<key>CFBundleIdentifier</key>
	<string>com.your-company.ZumaKeuzesContrast2</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>2</integer>
	</array>
	<key>MinimumOSVersion</key>
	<string>6.0</string>
</dict>
</plist>
